.borderify {
	border: 5px solid red;
}

body{
    background-color: #2F4858;
    height: 100vh;
}

input {
	padding: 0 1rem;
	background: white;
}

.card-image:first-child img {
    border-top-left-radius: 9999px !important; 
    border-top-right-radius: 9999px !important; 
}

.invisible-button {
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
}

.box-shadow-surround {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.height-fit-content {
	height: fit-content !important;
}

.rounded-25 {
	border-radius: 25px;
}

.rounded-50 {
	border-radius: 50px;
}

.height-100 {
	height: 100%;
}

.scrollable {
	overflow: auto;
}

.no-overflow {
	overflow: hidden;
}

/* Custom scrollbars. */
/* width */
::-webkit-scrollbar {
	width: 5px;
	box-sizing: content-box;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.5);
  }