.borderify {
	border: 5px solid red;
}

body{
    background-color: #2F4858;
    height: 100vh;
}

input {
	padding: 0 1rem;
	background: white;
}

.card-image:first-child img {
    border-top-left-radius: 9999px !important; 
    border-top-right-radius: 9999px !important; 
}

.invisible-button {
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
}

.box-shadow-surround {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.height-fit-content {
	height: fit-content !important;
}

.rounded-25 {
	border-radius: 25px;
}

.rounded-50 {
	border-radius: 50px;
	/* background-clip: content-box; */
}

.height-100 {
	height: 100%;
}