@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

// Set default font to Inter.
$family-inter: "Inter", serif;
$family-primary: $family-inter;

// Set default text color to white.
$text: white;
$text-strong: white;

// Change the default border radius.
$radius: 1rem;

// Custom text input.
$custom-gray: #666;
$custom-dark-gray: #333;
$input-icon-color: $custom-gray;
$input-icon-active-color: $custom-dark-gray;
$input-color: $custom-dark-gray;

$bookmark-card: rgba(217, 217, 217, 0.35);
$bookmark-card-invert: findColorInvert($bookmark-card);

$bookmark-container: rgba(217, 217, 217, 0.10);
$bookmark-container-invert: findColorInvert($bookmark-container);

$custom-colors: (
    "bookmark-card": ($bookmark-card, $bookmark-card-invert),
    "bookmark-container": ($bookmark-container, $bookmark-container-invert)
    );

@import "../../node_modules/bulma/bulma.sass";