@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

// Set default font to Inter.
$family-inter: "Inter", serif;
$family-primary: $family-inter;

// Set default text color to white.
$text: white;
$text-strong: white;

@import "../../node_modules/bulma/bulma.sass";